<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".activity_quest"
            android:exported="false" />
        <activity
            android:name=".conf"
            android:exported="false" />
        <activity
            android:name=".activity_sone"
            android:exported="false" />
        <activity
            android:name=".ui.login.activity_info"
            android:exported="false"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".creators"
            android:exported="false" />
        <activity
            android:name=".activity_c23"
            android:exported="false" />
        <activity
            android:name=".activity_c93"
            android:exported="false" />
        <activity
            android:name=".activity_c92"
            android:exported="false" />
        <activity
            android:name=".activity_c91"
            android:exported="false" />
        <activity
            android:name=".activity_c05"
            android:exported="false" />
        <activity
            android:name=".activity_c04"
            android:exported="false" />
        <activity
            android:name=".activity_c03"
            android:exported="false" />
        <activity
            android:name=".activity_c02"
            android:exported="false" />
        <activity
            android:name=".activity_c01"
            android:exported="false" />
        <activity
            android:name=".activity_c15"
            android:exported="false" />
        <activity
            android:name=".activity_c14"
            android:exported="false" />
        <activity
            android:name=".activity_c13"
            android:exported="false" />
        <activity
            android:name=".activity_c12"
            android:exported="false" />
        <activity
            android:name=".activity_c11"
            android:exported="false" />
        <activity
            android:name=".activity_c35"
            android:exported="false" />
        <activity
            android:name=".activity_c34"
            android:exported="false" />
        <activity
            android:name=".activity_c33"
            android:exported="false" />
        <activity
            android:name=".activity_c32"
            android:exported="false" />
        <activity
            android:name=".activity_c31"
            android:exported="false" />
        <activity
            android:name=".activity_secret"
            android:exported="false" />
        <activity
            android:name=".activity_c21"
            android:exported="false" />
        <activity
            android:name=".activity_c22"
            android:exported="false" />
        <activity
            android:name=".activity_c24"
            android:exported="false" />
        <activity
            android:name=".activity_c25"
            android:exported="false" />
        <activity
            android:name=".activity_daily_schedule"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>